// Font Import

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Inria+Serif&display=swap');

// Variables

$pc: hsl(190, 100%, 95%);
$sc: hsl(100, 100%, 5%);
$tc: hsl(325, 50%, 50%);
$IF: 'Indie Flower';
$IS: 'Inria Serif';

// Resets 

p { margin-block-start: 0; margin-block-end: 0;}